.react-flow__handle {
    width: 12px;
    height: 12px;
    background-color: #00ff00;
}

.react-flow__handle-right {
    right: 15px;
}

.react-flow__handle::after {
    content: '';
    position: absolute;
    top: -10px; /* Adjust to expand hitbox upwards */
    left: -10px; /* Adjust to expand hitbox to the left */
    right: -10px; /* Adjust to expand hitbox to the right */
    bottom: -10px; /* Adjust to expand hitbox downwards */
}