@tailwind base;
@tailwind components;
@tailwind utilities;

.wiggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: wiggle 3s ease-in-out infinite;
}

@keyframes wiggle {
    0%,
    5% {
        transform: rotateZ(0);
    }
    10% {
        transform: rotateZ(3deg);
    }
    15% {
        transform: rotateZ(-3deg);
    }
    20% {
        transform: rotateZ(7deg);
    }
    25% {
        transform: rotateZ(-7deg);
    }
    30% {
        transform: rotateZ(3deg);
    }
    35% {
        transform: rotateZ(-3deg);
    }
    40% {
        transform: rotateZ(1deg);
    }
    45% {
        transform: rotateZ(-1deg);
    }
    50%,
    100% {
        transform: rotateZ(0);
    }
}

.floatingedges {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.floatingedges .react-flow__handle {
    opacity: 0;
}

.edgebutton {
    width: 15px;
    height: 15px;
    background: #eee;
    border: 1px solid #1e1e1e;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    padding: 0;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(31, 255, 57, 0.2) !important;
}

.custom-div {
    width: 80vw;
    height: 90vh;
}

@media (max-width: 768px) { /* Adjust the breakpoint according to your needs */
    .custom-div {
        width: 100vw;
        height: 80vh;
    }
}

.filter-green{
    filter: invert(53%) sepia(35%) saturate(983%) hue-rotate(93deg) brightness(99%) contrast(89%);
}

.react-flow__node-custom {
    background: #fff;
    border: 1px solid #1a192b;
    border-radius: 5px;
    color: #222;
    font-size: 12px;
    padding: 10px 20px 10px 10px;
    text-align: center;
    width: 150px;
}

.context-menu {
    background: #4a4a4a;
    border-style: solid;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 40%);
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    justify-content: flex-start;
    text-align: left;
}

.my-button {
    background-color: transparent;
    border: 1px solid #22C55E;
    color: #22C55E;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
}

.my-button:hover, .my-button:focus {
    background-color: #22C55E;
    color: black;
    border-color: #22C55E;
}